# AWS Bedrock Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID= ABSKQmVkcm9ja0FQSUtleS1rc212LWF0LTI5NTc1NjMxMTA5ODpacEtJU1JxSTMzdE9SdWpmQ1o4eHpWR0E4V2gvNTgyWStSUlk2ZktjY2dwU3lDMERRazNoNXFBRzhWQT0=
AWS_SECRET_ACCESS_KEY=
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20241022-v2:0

# MAX Exchange API
MAX_API_KEY=UW7PlF19jmObkXLDxfVEsBps3VSqzZkNpW0ky7Op
MAX_API_SECRET=ktnArs9YUSb3N9GpVpraeHjc61WD2Y33oOzpkc9c
MAX_API_BASE_URL=https://max-api.maicoin.com
MAX_ENABLE_TRADING=0

# Third-party APIs (optional)
COINMARKETCAP_API_KEY= 
BLOCKCHAIN_COM_API_KEY=

# RAG Configuration
OPENSEARCH_ENDPOINT=
CSV_DATA_PATH=../MaiCoin_最近一年份出入金及交易紀錄.csv


